<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJsMVC</title>
    <link rel="stylesheet" href="foundation.min.css"/>
</head>
<body style="padding: 10px;" ng-app="app">
    <div ng-controller="MyCtrl">
        <input type="text" ng-model="msg"/>
        <h1>{{msg}}</h1>
    </div>

    <input type="text" ng-model="uname"/>
    <h1 ng-clock class="ng-clock">{{uname}}</h1>
    <div ng-bind="'用户名'+uname"></div>
    <div ng-model="uname">{{'用户名'+uname}}</div>
</body>
<script src="angular.min.js"></script>
<script>
    angular.module('app',[])
    .controller('MyCtrl',function($scope){
        $scope.msg="angular";
    });
</script>
</html>