*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif, ו, arial;
    font-size: 14px;
    line-height: 1.4em;
    min-width: 600px;
}
.adminMenuWarp{
    position: relative;
    float: left;
    width: 160px;
    background-color: #222222;
}
.adminMenu{
    clear: left;
    margin: 12px 0;
    list-style: none;
    width: 160px;
    background-color: #222222;
}
.menu{
    min-height: 34px;
    cursor: pointer;
}
.menu a{
    padding: 10px 0;
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-indent: 40px;
}
a:hover{
    background-color: #000;
    color: cyan;
}